<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/Style.css}"/>
    <title>Document</title>
</head>

<body>
    <header th:fragment="header">
    <div class="barra ">
        <nav class="barra-links contenedor">

            <a href="https://www.ipn.mx/directorio-telefonico.html">DIRECTORIO</a>
            |
            <a href="https://www.ipn.mx/correo-electronico.html">CORREO ELECTRÓNICO</a>
            |
            <a href="https://www.ipn.mx/calendario-academico.html">CALENDARIO</a>
            |
            <a href="https://www.ipn.mx/transparencia/">TRANSPARENCIA</a>
            |
            <a href="https://www.ipn.mx/proteccion-datos-personales/">PROTECCIÓN DE DATOS</a>
        </nav>
    </div>
    <section>
        <div class="imagen">
            <img src="https://www.upiicsa.ipn.mx/assets/files/main/img/template/pleca-educacion.svg">
            <img src="https://www.upiicsa.ipn.mx/assets/files/main/img/template/logo_ipn_guinda.svg">

            <div class="leyenda">
                <p>Instituto Politécnico Nacional
                    <br> 
                    La Técnica al Servicio de la Patria
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="nav-bg">
            <nav class="navegacionp contenedor-p">
                <a href="#"> Inicio </a>
                <a href="#"> comunidad </a>
                <a href="#"> oferta educativa </a>
                <a href="#"> INVESTIGACIÓN Y POSGRADO </a>
                <a href="#"> Vinculación </a>
            </nav>
        </div>
    </section>
        </header>
    <main>

    </main>
    <footer th:fragment="footer">
        <div class="nav-bg">
            <DIV class="container">

                <div class="footer-1">
                    <h3> INSTITUTO POLITÉCNICO NACIONAL</h3>
                    <p>D.R. Instituto Politécnico Nacional (IPN). Av. Luis Enrique Erro S/N, Unidad Profesional Adolfo
                        López Mateos, Zacatenco, Alcaldía Gustavo A. Madero, C.P. 07738, Ciudad de México, 2019.
                        Conmutador: 55 57 29 60 00 / 55 57 29 63 00 </p>
                    <p>Esta página es una obra intelectual protegida por la Ley Federal del Derecho de Autor, puede ser
                        reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y
                        su dirección electrónica; su uso para otros fines, requiere autorización previa y por escrito de
                        la Dirección General del Instituto.</p>
                </div>
                <div class="footer2">
                    <img src="https://www.ipn.mx/assets/files/main/img/template/educacion2.png" alt="">
                </div>
            </DIV>
        </div>    
        <div class="list-info">
            <div class="row">

                <img src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" alt="">
                <div class="column2">
                    <h5>Enlaces</h5>
                    <ul>
                        <li> <a href="https://participa.gob.mx" target="_blank" rel="noopener"
                                title="Enlace abre en ventana nueva">
                                Participa
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gob.mx/publicaciones" target="_blank" rel="noopener"
                                title="Enlace abre en ventana nueva">
                                Publicaciones Oficiales
                            </a>
                        </li>
                        <li>
                            <a href="http://www.ordenjuridico.gob.mx" target="_blank" rel="noopener"
                                title="Enlace abre en ventana nueva">
                                Marco Jurídico
                            </a>
                        </li>
                        <li>
                            <a href="https://consultapublicamx.inai.org.mx/vut-web/" target="_blank" rel="noopener"
                                title="Enlace abre en ventana nueva">
                                Plataforma Nacional de Transparencia
                            </a>
                        </li>
                        <li>
                            <a href="https://alertadores.funcionpublica.gob.mx/" target="_blank" rel="noopener"
                                title="Enlace abre en ventana nueva">
                                Alerta
                            </a>
                        </li>
                        <li>
                            <a href="https://sidec.funcionpublica.gob.mx" target="_blank" rel="noopener"
                                title="Enlace abre en ventana nueva">
                                Denuncia
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="column3">
                    <h5>¿Qué es gob.mx?</h5>
                    <p>
                        Es el portal único de trámites, información y participación ciudadana.
                        <a href="https://www.gob.mx/que-es-gobmx">
                            Leer más
                        </a>
                    </p>
                    <ul>
                        <li>
                            <a href="https://datos.gob.mx">
                                Portal de datos abiertos
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gob.mx/accesibilidad">
                                Declaración de accesibilidad
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gob.mx/privacidadintegral">
                                Aviso de privacidad integral
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gob.mx/privacidadsimplificado">
                                Aviso de privacidad simplificado
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gob.mx/terminos">
                                Términos y Condiciones
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gob.mx/terminos#medidas-seguridad-informacion">
                                Política de seguridad
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gob.mx/sitemap">
                                Mapa de sitio
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="column4">
                    <a href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54">
                        Denuncia contra servidores públicos
                    </a>
                    <h5>Síguenos en</h5>
                    <a target="_blank" rel="noopener" title="Enlace abre en ventana nueva"
                        href="https://www.facebook.com/gobmexico">
                        <img alt="Facebook" src="https://framework-gb.cdn.gob.mx/landing/img/facebook.png">
                    </a>
                    <a target="_blank" rel="noopener" title="Enlace abre en ventana nueva"
                        href="https://twitter.com/GobiernoMX">
                        <img alt="Twitter" src="https://framework-gb.cdn.gob.mx/landing/img/twitter.png">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>