<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" type="text/css" href="css/Style.css"/>    
        <link rel="preload" href="css/normalize.css">
        <link rel="stylesheet" href="css/normalize.css"> 
    </head>
                <body>
                    <header th:fragment="header">
                        <h1> &Aacute;reas y Responsables prueba de GIT</h1>
                    </header>

                    <footer th:fragment="footer">
                        <p>Derechos Reservados <a href="https://www.ipn.mx/" target="_blank">IPN.mx</a></p>
                        <form method="POST" th:action="@{/logout}">
                            <b>User: </b> <span sec:authentication="name">Usuario que hizo login</span>
                            <b>Roles: </b> <span sec:authentication="principal.authorities">Roles</span>
                            <a href="#" onclick="this.parentNode.submit();">Logout</a>
                        </form>
                    </footer>

                </body>
                </html>
