<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: head">
    <title>Registro de Entrada al Almacen</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<header th:replace="layout/PlantillaHP :: header">
</header>

<main class="contenedor sombra">
    <h1 class="cabeceraP">Registro de Entrada al Almacen</h1>
    <div class="boton divbtn">
        <a th:href="@{/Entradas}">Regresar</a>
    </div>
    <div class="formulario">
        <form th:action="@{/GuardarEntrada}" method="post" th:object="${ctrlEntrAlmacen}">
            <fieldset>
                <legend>llena todos los campos</legend>
                <div class="contenedor-campos2">
                    <div class="campo">
                        <label for="nidenta">Id del registro de la entrada</label>
                        <input class="input-text" type="text" name="nidenta" th:field="*{id.nidenta}"/>
                        <span th:if="${#fields.hasErrors('id.nidenta')}" th:errors="*{id.nidenta}">Error en el id del
                                registro de la
                                entrada</span>
                    </div>
                    <div class="campo">
                        <label for="nanioea">Año del registro de la entrada</label>
                        <input class="input-text" type=number name="nanioea" th:field="*{id.nanioea}"/>
                        <span th:if="${#fields.hasErrors('id.nanioea')}" th:errors="*{id.nanioea}">Error en el año del
                                registro de la
                                entrada</span>
                    </div>
                    <div class="campo">
                        <label for="dfecent">Fecha del registro de la entrada</label>
                        <input class="input-text" type="date" name="dfecent" th:field="*{dfecent}"/>
                        <span th:if="${#fields.hasErrors('dfecent')}" th:errors="*{dfecent}">Error en la fecha del
                                registro de la
                                entrada</span>
                    </div>
                    <div class="campo">
                        <label for="cstatus">Estatus de vigencia</label>
                        <input class="input-text" type="text" name="cstatus" th:field="*{cstatus}"/>
                        <span th:if="${#fields.hasErrors('cstatus')}" th:errors="*{cstatus}">Error en estatus del
                                registro de la
                                entrada</span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>llena todos los campos</legend>
                <div class="contenedor-campos3">
                    <div class="campo1">
                        <label for="detentrada.nidenta">Id del registro de la entrada</label>
                        <input id="d1" class="input-text" type="text" name="nidenta" th:field="*{detentrada.nidenta}"/>
                        <span th:if="${#fields.hasErrors('detentrada.nidenta')}"
                              th:errors="*{detentrada.nidenta}">Error en el id
 d                               del registro de la entrada</span>
                    </div>
                    <div class="campo1">
                        <label for="detentrada.nanioea">Año del registro de la entrada</label>
                        <input id="d2" class="input-text" type=number name="detentrada.nanioea"
                               th:field="*{detentrada.nanioea}"/>
                        <span th:if="${#fields.hasErrors('detentrada.nanioea')}"
                              th:errors="*{detentrada.nanioea}">Error en el año
                                del registro de la entrada</span>
                    </div>
                    <div class="campo1">
                        <label for="detentrada.niddent">Id del detalle de la entrada</label>
                        <input id="d3" class="input-text" type="text" name="detentrada.niddent"
                               th:field="*{detentrada.niddent}"/>
                        <span th:if="${#fields.hasErrors('detentrada.niddent')}"
                              th:errors="*{detentrada.niddent}">Error en el id
 d                               del detalle de la entrada</span>
                    </div>
                    <div class="campo1">
                        <label for="detentrada.tipo">Tipo de art&iacute;culo</label>
                        <input id="d4" class="input-text" type="text" name="detentrada.tipo"
                               th:field="*{detentrada.ctipart}"/>
                        <span th:if="${#fields.hasErrors('detentrada.ctipart')}"
                              th:errors="*{detentrada.ctipart}">Error tipo de
                                articulo</span>
                    </div>
                    <div class="campo1">
                        <label for="detentrada.ccvartl">Clave del art&iacute;culo</label>
                        <input id="d5" class="input-text" type="text" name="detentrada.ccvartl"
                               th:field="*{detentrada.ccvartl}"/>
                        <span th:if="${#fields.hasErrors('detentrada.ccvartl')}"
                              th:errors="*{detentrada.ccvartl}">Error clave de
                                articulo</span>
                    </div>
                    <div class="campo1">
                        <label for="detentrada.ncvunmd">Clave de la unidad de medida del art&iacute;culo</label>
                        <input id="d6" class="input-text" type="text" name="detentrada.ncvunmd"
                               th:field="*{detentrada.ncvunmd}"/>
                        <span th:if="${#fields.hasErrors('detentrada.ncvunmd')}"
                              th:errors="*{detentrada.ncvunmd}">Error de la clave
                                de unidad de medida</span>
                    </div>

                    <div class="campo1">
                        <label for="detentrada.ncantid">Cantidad en existencia del art&iacute;culo</label>
                        <input id="d7" class="input-text" type="text" name="detentrada.ncantid"
                               th:field="*{detentrada.ncantid}"/>
                        <span th:if="${#fields.hasErrors('detentrada.ncantid')}"
                              th:errors="*{detentrada.ncantid}">Error en la
                                cantidad en existencia del art&iacute;culo</span>
                    </div>

                    <div class="campo1">
                        <label for="detentrada.ncostou">Costo unitario del art&iacute;culo</label>
                        <input id="d8" class="input-text" type="text" name="detentrada.ncostou"
                               th:field="*{detentrada.ncostou}"/>
                        <span th:if="${#fields.hasErrors('detentrada.ncostou')}"
                              th:errors="*{detentrada.ncostou}">Error en el costo
                                unitario del art&iacute;culo</span>
                    </div>
                    <div class="campo1">
                        <label for="detentrada.cstatus">Estatus de vigencia</label>
                        <input id="d9" class="input-text" type="text" name="detentrada.cstatus"
                               th:field="*{detentrada.cstatus}"/>
                        <span th:if="${#fields.hasErrors('detentrada.cstatus')}"
                              th:errors="*{detentrada.cstatus}">Error en estatus
                                del registro de la entrada</span>
                    </div>
                    <br/>
                </div>
                <div class="displayFR">
                    <input class="boton" type="submit" name="guardarEntrada" value="Guardar Entrada"/>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<footer th:replace="layout/PlantillaHP :: footer">

</footer>
<!-- <footer th:replace="layout/plantilla :: footer" /> -->
</body>

</html>