<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: head">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../css/Estilos.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <script src="https://kit.fontawesome.com/18c67b9c1e.js" crossorigin="anonymous"></script>
  
    <title>Alta de unidades de medida</title>
</head>

<body>
    <header th:replace="layout/PlantillaHP :: header">
    </header>
    <article>
        <h1 class="">Alta de Unidades de Medida</h1>
    </article>
    <main class="contenedor">
        <form id="form_UM" th:action="@{/GuardarMedida}" method="post" th:object="${catalogoUniMedida}">
            <fieldset class="display_felx_row">
                <legend>llena todos los campos</legend>

                <div id="div_id_UM" class="display_felx_colum form_group">
                    <label id="label_id_UM" class="label_form--id label_form" for="input_id_UM">ID Unidad<br>De Medida</label>
                    <div id="group_id_UM" class="form_group--input" >
                        <input  id="input_id_UM" class="all_inputs  all_inputs--id" type="number" name="id"
                            th:field="*{ncvunmd}" placeholder="ID" />
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">Formato no valido</p>
                </div>

                <div id="div_desc_UM"  class="display_felx_colum" >
                    <label id="label_desc_UM" class="label_form--desc label_form" for="textarea_des_UM">Descripci&oacute;n de la medida</label>
                    <div id="group_desc_UM" class="form_group--desc" >
                        <textarea id="textarea_des_UM" class="format_textarea format_desc" name="Desc"  cols="30" rows="2" placeholder="Descripción de la unidad de medida" th:field="*{cdescrip}"></textarea>
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">Descripción muy corta</p>
                </div>

                <div id="div_select_UM" class="display_felx_colum">
                    <label id="label_vig_UM" class="label_form--select label_form" for="combo_UM">Estatus de vigencia</label>
                    <div id="group_vig_UM" class="form_group--select" >
                        <select id="combo_UM" name="combo" >
                            <option value="">Seleccione</option>
                            <option value="">Vigente</option>
                            <option value="">No vigente</option>
                        </select>
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">selecione un opción valida</p>
                </div>
                
            </fieldset>
            <div class="form_message " id="form_message">
                <p id="">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <b>Error:</b>Por favor llene o seleccione los campos marcados correctamente
                </p>
            </div>

            <div class="form_group display_felx_center">
                <button class="boton" type="submit" name="guardarMedida" value="" >Agregar </button>
                <button class="boton" type="submit" value="">Regresar</button>
            </div>
            <p  id="Parrafo_M" class="form_message_succes">Datos guardados con exito</p>
        </form>

        
        <div>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Descripcion de la Unidad de Medida</th>
                    <th class="th_formato">Vigente</th>
                    <th class="th_formato">Editar</th>
                    <th class="th_formato">Eliminar</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Caja</td>
                    <td>Si</td>
                    <td class="Iconos"> <i class="fa-solid fa-pen-to-square"></i> </td>
                    <td class="Iconos"> <i class="fa-solid fa-trash-can"></i> </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pieza</td>
                    <td>Si</td>
                    <td class="Iconos"> <i class="fa-solid fa-pen-to-square"></i> </td>
                    <td class="Iconos"> <i class="fa-solid fa-trash-can"></i> </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Kilogramo</td>
                    <td>Si</td>
                    <td class="Iconos"> <i class="fa-solid fa-pen-to-square"></i> </td>
                    <td class="Iconos"> <i class="fa-solid fa-trash-can"></i> </td>
                </tr>
            </table>
        </div>

    </main>

    <footer th:replace="layout/PlantillaHP :: footer">

    </footer>
    <!--<footer th:replace="layout/plantilla :: footer"/>  -->
    
<script src="../JavaScript/java.js"></script>
</body>

</html>