<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Alta de Articulos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="preload" href="CSS/normalize.css">
    <link rel="stylesheet" href="CSS/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="CSS/styleForm.css" as="style" />
    <link rel="stylesheet" href="CSS/styleForm.css" />
    </head>
    <body>
        <main class="contenedor sombra">
            
        <h1 class="cabeceraP">Alta de Articulos</h1>
        <div class="boton divbtn">
            <a class="" th:href="@{/Articulos}">Regresar</a>       
        </div>
        
        <div class="formulario">

           
        <form th:action="@{/GuardarArticulo}" method="post" th:object="${catalogoArtAlmacen}">
            <fieldset>
                <legend>llena todos los campos</legend>
            <div class="contenedor-campos">
            <div class="campo">
                <label for="tipo">Tipo de art&iacute;culo</label>
            <input class="input-text" type="text" name="tipo" th:field="*{ctipart}"/>
            <br>   
            <span th:if="${#fields.hasErrors('ctipart')}" th:errors="*{ctipart}">Error tipo de articulo</span>
            </div>
            <div class="campo">
            <label for="ccvartl">Clave del art&iacute;culo</label>
            <input class="input-text" type="text" name="ccvartl" th:field="*{ccvartl}"/>
            <br>
            <span th:if="${#fields.hasErrors('ccvartl')}" th:errors="*{ccvartl}">Error clave de articulo</span>
            </div>        
            <div class="campo">
            <label for="cdescrip">Descripci&oacute;n del art&iacute;culo</label>
            <input class="input-text" type="text" name="cdescrip" th:field="*{cdescrip}"/>
            <br>
            <span th:if="${#fields.hasErrors('cdescrip')}" th:errors="*{cdescrip}">Error descripcion de articulo</span>
            </div>
            <div class="campo">
            <label for="nmaximo">Cantidad m&aacute;xima del art&iacute;culo</label>
            <input class="input-text" type="text" name="nmaximo" th:field="*{nmaximo}"/>
            <br>
            <span th:if="${#fields.hasErrors('nmaximo')}" th:errors="*{nmaximo}">Error maximo de articulo</span>
             </div>
            <div class="campo">
            <label for="nminimo">Cantidad m&iacute;nima del art&iacute;culo</label>
            <input class="input-text" type="text" name="nminimo" th:field="*{nminimo}"/>
            <br>
            <span th:if="${#fields.hasErrors('nminimo')}" th:errors="*{nminimo}">Error minimo de articulo</span>
            </div>
            <div class="campo">
            <label for="cvigent">Estatus de vigencia</label>
            <input class="input-text" type="text" name="cvigent" th:field="*{cvigent}"/>
            <br>
            <span th:if="${#fields.hasErrors('cvigent')}" th:errors="*{cvigent}">Error estatus de articulo</span>
            </div>
            </div>
            <div class="displayFR">
            <input class="boton" type="submit" name="guardarArticulo" value="Guardar Articulo"/>
            </div>
            
            </fieldset>
        </div>
        
        </main>
        </form>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
