<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: head">
    <title>Registro De Entrada al Almacen</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../css/Estilos.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <script src="https://kit.fontawesome.com/18c67b9c1e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header th:replace="layout/PlantillaHP :: header">
    </header>
    <section>
        <h1 class="cabeceraP">Registro de entrada al almacén</h1>
    </section>
    <main class="contenedor">
        <form id="form_UM" th:action="@{/GuardarEntrada}" method="post" th:object="${ctrlEntrAlmacen}">
            <fieldset class="display_felx_row">
                <legend>llena todos los campos</legend>

                <div id="div_id_REA" class="display_felx_colum form_group">
                    <label id="label_id_REA" class="label_form--id label_form" for="input_id_REA">ID Unidad De
                        Medida</label>
                    <div id="group_id_REA" class="form_group--input">
                        <input id="input_id_REA" class="all_inputs  all_inputs--id" type="number" name="id"
                            th:field="*{}" placeholder="ID" />
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">Formato no valido</p>
                </div>

                <div id="div_year_REA" class="display_felx_colum form_group">
                    <label id="label_year_REA" class="label_form--id label_form" for="input_year_REA">Año</label>
                    <div id="group_year_REA" class="form_group--input">
                        <input id="input_year_REA" class="all_inputs  all_inputs--id" type=number min="1900" max="2099"
                            step="1" value="2023" name="id" th:field="*{id.nanioea}" />
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">Formato no valido</p>
                </div>

                <div id="div_date_REA" class="display_felx_colum form_group">
                    <label id="label_date_REA" class="label_form--id label_form" for="input_date_REA">Fecha </label>
                    <div id="group_date_REA" class="form_group--input">
                        <input id="input_date_REA" class="all_inputs" type="date" name="Fecha" value=""
                            th:field="*{dfecent}" />
                    </div>

                </div>
                <div id="div_select_REA" class="display_felx_colum">
                    <label id="label_vig_REA" class="label_form--select label_form" for="combo_REA_vig">Estatus de
                        vigencia</label>
                    <div id="group_vig_REA" class="form_group--select">
                        <select id="combo_REA_vig" name="combo">
                            <option value="">Seleccione</option>
                            <option value="">Vigente</option>
                            <option value="">No vigente</option>
                        </select>
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">selecione una opción valida</p>
                </div>
                
                <div class="display_felx_center">
                    <input class="boton" type="submit" value="Agregar">
                    <input class="boton" type="submit" value="Regresar">
                </div>
                
            </fieldset>
            <div class="form_message " id="form_message">
                <p id="">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <b>Error:</b>Por favor llene o seleccione los campos marcados correctamente
                </p>
            </div>
            <p id="Parrafo_M" class="form_message_succes">Datos guardados con exito</p>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Año</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2023</td>
                    <td>02/19/2023</td>
                    <td>Validada</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="44"
                            height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#2c3e50" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                            <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                            <line x1="16" y1="5" x2="19" y2="8" />
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="44"
                            height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#2c3e50" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="4" y1="7" x2="20" y2="7" />
                            <line x1="10" y1="11" x2="10" y2="17" />
                            <line x1="14" y1="11" x2="14" y2="17" />
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                        </svg></td>
                </tr>
            </table>
            <fieldset class="">
                <legend>llena todos los campos</legend>
                <section class="display_felx_row">

                    <div id="div_No_REA" class="display_felx_colum form_group">
                        <label id="label_No_REA" for="input_No_REA" class="label_form">No</label>
                        <div id="group_No_REA" class="form_group--input">
                            <input id="input_No_REA" class="all_inputs  all_inputs--id" type="number" name="id"
                                placeholder="Nùm." th:field="*{detentrada.nidenta}" />
                            <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="form_input_error">Formato no valido</p>
                    </div>


                    <div id="div_tipo_REA" class="display_felx_colum">
                        <label id="label_tipo_REA" class="label_form label_form--select" for="combo_tipo">Tipo</label>
                        <div id="group_tipo_REA" class="form_group--select">
                            <select id="combo_tipo" name="combo">
                                <option value="">Seleccione</option>
                                <option value="">opcion1</option>
                            </select>
                            <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="form_input_error">selecione un opción valida</p>
                    </div>

                    <div id="div_art_REA" class="display_felx_colum">
                        <label id="label_art_REA" class="label_form label_form--select" for="comobo_art">Clave del
                            art&iacute;culo</label>
                        <div id="group_art_REA" class="form_group--select">
                            <select name="combo" id="comobo_art">
                                <option value="">Seleccione</option>
                                <option value="">Opcion 1</option>
                            </select>
                            <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="form_input_error">selecione un opción valida</p>
                    </div>

                    <div id="div_desc_REA" class="display_felx_colum">
                        <label id="label_desc_REA" class="label_form--desc label_form"
                            for="textarea_desc_REA">Descripción del art&iacute;culo</label>
                        <div id="group_desc_REA" class="form_group--desc">
                            <textarea id="textarea_desc_REA" class="format_textarea format_desc" name="Desc" cols="30"
                                rows="1" placeholder="Descripción de la unidad de medida"></textarea>
                            <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="form_input_error">Descripción muy corta</p>
                    </div>

                </section>
                <section class="display_felx_row">

                    <div id="div_UM_REA" class="display_felx_colum">
                        <label id="label_UM_REA" class="label_form--select label_form" for="combo_UM_REA">Unidad de
                            Medida</label>
                        <div id="group_UM_REA" class="form_group--select">
                            <select name="combo" id="combo_UM_REA">
                                <option value="">Seleccione</option>
                                <option value="">Opcion 1</option>
                            </select>
                            <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="form_input_error">selecione un opción valida</p>
                    </div>

                    <div id="div_cant_REA" class="display_felx_colum">
                        <label id="label_cant_REA" class="label_form" for="">Cantidad</label>
                        <div id="group_cant_REA" class="form_group--input">
                            <input id="input_cant_REA" class=" all_inputs  all_inputs--id" type="number" name="id"
                                th:field="*{detentrada.ncantid}" placeholder="#" />
                            <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="form_input_error">Formato no valido</p>
                    </div>

                    <div id="div_costo_REA" class="display_felx_colum">
                        <label id="label_costo_REA" class="label_form" for="inpt_Costo_REA">Costo</label>
                        <div id="group_costo_REA" class="form_group--input">
                            <input id="inpt_Costo_REA" class="all_inputs  all_inputs--id" type="number" name="id"
                                th:field="*{detentrada.ncostou}" placeholder="$" />
                            <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="form_input_error">Formato no valido</p>
                    </div>

                    <div id="div_estado_REA" class="display_felx_colum">
                        <label id="label_estado_REA" class="label_form--select label_form"
                            for="combo_estado_REA">Estado</label>
                        <div id="group_estado_REA" class="form_group--select">
                            <select name="combo" id="combo_estado_REA">
                                <option value="">Seleccione</option>
                                <option value="">Opcion 1</option>
                            </select>
                            <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="form_input_error">selecione un opción valida</p>
                    </div>
                </section>

            </fieldset>
            <div class="display_felx_center">
                <input class="boton" type="submit" value="Agregar">
            </div>
            <table>
                <tr>
                    <th>No.</th>
                    <th>Tipo</th>
                    <th>Clave del artículo</th>
                    <th>Descripción del artículo</th>
                    <th>Unidad de medida</th>
                    <th>Costo</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Cafeteria</td>
                    <td>azucar</td>
                    <td>Kilogramo</td>
                    <td>1</td>
                    <td>$35.0</td>
                    <td>Validado</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="44"
                            height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#2c3e50" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                            <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                            <line x1="16" y1="5" x2="19" y2="8" />
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="44"
                            height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#2c3e50" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="4" y1="7" x2="20" y2="7" />
                            <line x1="10" y1="11" x2="10" y2="17" />
                            <line x1="14" y1="11" x2="14" y2="17" />
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                        </svg></td>
                </tr>
            </table>
        </form>
    </main>
    <footer th:replace="layout/PlantillaHP :: footer">

    </footer>
    <!-- <footer th:replace="layout/plantilla :: footer" /> -->
    <script src="../JavaScript/java.js"></script>
</body>

</html>