<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Alta de Articulos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Alta de Articulos</h1>
        <a th:href="@{/Articulos}">Regresar</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${catalogoArtAlmacen}">
            <br/>
            <label for="tipo">Tipo de art&iacute;culo</label>
            <input type="text" name="tipo" th:field="*{ctipart}"/>   
            <span th:if="${#fields.hasErrors('ctipart')}" th:errors="*{ctipart}">Error tipo de articulo</span>
            <br/>
            <label for="ccvartl">Clave del art&iacute;culo</label>
            <input type="text" name="ccvartl" th:field="*{ccvartl}"/>
            <span th:if="${#fields.hasErrors('ccvartl')}" th:errors="*{ccvartl}">Error clave de articulo</span>
            <br/>
            <label for="cdescrip">Descripci&oacute;n del art&iacute;culo</label>
            <input type="text" name="cdescrip" th:field="*{cdescrip}"/>
            <span th:if="${#fields.hasErrors('cdescrip')}" th:errors="*{cdescrip}">Error descripcion de articulo</span>
            <br/>
            <label for="nmaximo">Cantidad m&aacute;xima del art&iacute;culo</label>
            <input type="text" name="nmaximo" th:field="*{nmaximo}"/>
            <!--<span th:if="${#fields.hasErrors('nmaximo')}" th:errors="*{nmaximo}">Error maximo de articulo</span>-->
            <br/>
            <label for="nminimo">Cantidad m&iacute;nima del art&iacute;culo</label>
            <input type="text" name="nminimo" th:field="*{nminimo}"/>
            <!--<span th:if="${#fields.hasErrors('nminimo')}" th:errors="*{nminimo}">Error minimo de articulo</span>-->
            <br/>
            <label for="cvigent">Estatus de vigencia</label>
            <input type="text" name="cvigent" th:field="*{cvigent}"/>
            <span th:if="${#fields.hasErrors('cvigent')}" th:errors="*{cvigent}">Error estatus de articulo</span>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
