<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
    <title>Alta de unidades de medida</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header th:replace="layout/PlantillaHP :: header">
</header>

<main class="contenedor sombra">
    <h1 class="cabeceraP">Alta de Unidades de Medida</h1>
    <div class="boton divbtn">
        <a th:href="@{/UnidadesMedida}">Regresar</a>
    </div>
    <div class="formulario">
        <form th:action="@{/GuardarMedida}" method="post" th:object="${catalogoUniMedida}">
            <fieldset>
                <legend>llena todos los campos</legend>
                <div class="">
                    <div class="campo">
                        <label for="ncvunmd">Clave de la unidad de medida</label>
                        <input id="dd1" class="input-text" type="text" name="ncvunmd" th:field="*{ncvunmd}"/>
                        <br>
                        <span th:if="${#fields.hasErrors('ncvunmd')}"
                              th:errors="*{ncvunmd}">Error en clave de la medida</span>
                    </div>
                    <div class="campo">
                        <label for="cdescrip">Descripci&oacute;n de la medida</label>
                        <input id="dd2" class="input-text" type="text" name="cdescrip" th:field="*{cdescrip}"/>
                        <br>
                        <span th:if="${#fields.hasErrors('cdescrip')}" th:errors="*{cdescrip}">Error en descripcion de la medida</span>
                    </div>
                    <div class="campo">
                        <label for="cvigent">Estatus de vigencia</label>
                        <input id="dd3" class="input-text" type="text" name="cvigent" th:field="*{cvigent}"/>
                        <br>
                        <span th:if="${#fields.hasErrors('cvigent')}"
                              th:errors="*{cvigent}">Error estatus de la medida</span>
                    </div>

                </div>
                <div class="displayFR">
                    <input class="boton" type="submit" name="guardarMedida" value="Guardar Medida"/>
                </div>

            </fieldset>
        </form>
    </div>
</main>
<footer th:replace="layout/PlantillaHP :: footer">

</footer>
<!--<footer th:replace="layout/plantilla :: footer"/>  -->

</body>
</html>
