<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: head">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../css/Estilos.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <script src="https://kit.fontawesome.com/18c67b9c1e.js" crossorigin="anonymous"></script>
    <title>Articulos</title>
</head>

<body>
    <header th:replace="layout/PlantillaHP :: header">
    </header>
    <article>
        <h1 class="cabeceraP">Artículos de almacén</h1>
    </article>

    <main class="contenedor">
        <form id="form_UM" th:action="@{/}" method="post" th:object="${}">

            <fieldset class="display_felx_row">
                <legend>llena todos los campos</legend>

                <div id="div_tipo_Art" class="display_felx_colum">
                    <label id="label_tipo_Art" class=" label_form" for="combo_tipo_Art">Tipo</label>
                    <div id="group_tipo_Art" class="form_group--select">
                        <select id="combo_tipo_Art" name="combo">
                            <option value="">Seleccione</option>
                            <option value="">Opcion 1</option>
                        </select>
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">selecione una opción valida</p>
                </div>

                <div id="div_cvl_Art" class="display_felx_colum">
                    <label id="label_cvl_Art" class=" label_form" for="input_cvl_Art">Clave</label>
                    <div id="group_cvl_Art" class="form_group--input">
                        <input id="input_cvl_Art" class="all_inputs all_inputs--id" name="id" type="number"
                            placeholder="#">
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">Formato no valido</p>
                </div>

                <div id="div_desc_Art" class="display_felx_colum ">
                    <label id="label_desc_Art" class=" label_form" for="textarea_des_Art">Descripción del
                        artículo</label>
                    <div id="group_desc_Art" class="form_group--desc">
                        <textarea id="textarea_des_Art" class="format_textarea format_desc" name="Desc" cols="30"
                            rows="2" placeholder="Describa el artículo a registrar"></textarea>
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">Descripción muy corta</p>
                </div>

                <div id="div_max_Art" class="display_felx_colum ">
                    <label id="label_max_Art" class=" label_form" for="">Máximo</label>
                    <div id="group_max_Art" class="form_group--input">
                        <input id="input_max_Art" class="all_inputs  all_inputs--id" type="number" name="id" min="0"
                            placeholder="#">
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">Formato no valido</p>
                </div>

                <div id="div_min_Art" class="display_felx_colum ">
                    <label id="label_min_Art" class=" label_form" for="input_min_Art">Mínimo</label>
                    <div id="group_min_Art" class="form_group--input">
                        <input id="input_min_Art" class="all_inputs  all_inputs--id" type="number" min="0" name="id"
                            placeholder="#">
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">Formato no valido</p>
                </div>

                <div id="div_vig_Art" class="display_felx_colum ">
                    <label id="label_vig_Art" class=" label_form" for="">Vigente</label>
                    <div id="group_vig_Art" class="form_group--select">
                        <select name="combo" id="combo_Art">
                            <option value="">Seleccione</option>
                            <option value="">Vigente</option>
                            <option value="">No vigente</option>
                        </select>
                        <i class="form_valid_state fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="form_input_error">selecione una opción valida</p>
                </div>

            </fieldset>
        </form>
        <div class="display_felx_center">
            <input class="boton" type="submit" value="Agregar">
            <input class="boton" type="submit" value="Regresar">
        </div>

        <div>
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Clave</th>
                    <th>Description</th>
                    <th class="th_formato">Máximo</th>
                    <th class="th_formato">Mínimo</th>
                    <th class="th_formato">Vigente</th>
                    <th class="th_formato">Editar</th>
                    <th class="th_formato">Eliminar</th>
                </tr>
                <tr>
                    <td>Papeleria</td>
                    <td>AAAA-YB560</td>
                    <td>Cuaderno de cuadro chico 100 hojas con espiral</td>
                    <td>15</td>
                    <td>3</td>
                    <td>Si</td>
                    <td class="Iconos"> <i class="fa-solid fa-pen-to-square"></i> </td>
                    <td class="Iconos"> <i class="fa-solid fa-trash-can"></i> </td>
                </tr>
                <tr>
                    <td>Papeleria</td>
                    <td>AAAA-YB561</td>
                    <td>Cuaderno de cuadro chico 100 hojas con espiral</td>
                    <td>10</td>
                    <td>4</td>
                    <td>Si</td>
                    <td class="Iconos"> <i class="fa-solid fa-pen-to-square"></i> </td>
                    <td class="Iconos"> <i class="fa-solid fa-trash-can"></i> </td>
                </tr>
                <tr>
                    <td>Cafeteria</td>
                    <td>AAAA-099</td>
                    <td>Azucar</td>
                    <td>5</td>
                    <td>1</td>
                    <td>Si</td>
                    <td class="Iconos"> <i class="fa-solid fa-pen-to-square"></i> </td>
                    <td class="Iconos"> <i class="fa-solid fa-trash-can"></i> </td>
                </tr>
            </table>
        </div>
    </main>
    <footer th:replace="layout/PlantillaHP :: footer">
    </footer>
    <script src="../JavaScript/java.js"></script>
</body>

</html>