<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head th:replace="layout/plantilla :: head">
        <title>Detalles de las Entradas</title>        
    </head>
    <body>
         <header th:replace="layout/PlantillaHP :: header">
            
        </header>
        <h1 class="cabeceraP">Detalles de las entradas al Almacen</h1>
        <div class="boton divbtn"> 
        <a sec:authorize="hasAnyRole('ROLE_Master','ROLE_APrincipal','ROLE_ASecundario')" th:href="@{/AgregarDtllsEntrd}">Dar de alta detalles de entrada</a>
        </div>
        <div th:if="${dtllEntrAlmcn != null}"> <!-- and !artsAlmacen.empty}" -->
            <div class="ditable">
            <table border="1">
                <tr>
                    <th>Id asociado a la entrada</th>
                    <th>Año de la entrada</th>
                    <th>Id del detalle asociado a la entrada</th>
                    <th>Tipo art&iacute;culo</th>
                    <th>Clave del art&iacute;culo</th>
                    <th>Clave de la unidad de medida</th>
                    <th>Cantidad</th>
                    <th>Costo unitario</th>
                    <th>Estatus de vigencia</th>
                    <th sec:authorize="hasAnyRole('ROLE_Master','ROLE_APrincipal','ROLE_ASecundario')">Modificar datos</th>
                    <th sec:authorize="hasAnyRole('ROLE_Master','ROLE_APrincipal','ROLE_ASecundario')">Eliminar definitivamente</th>
                </tr>
                <tr th:each="vdtllEntrAlmcn : ${dtllEntrAlmcn}"><!-- Variable temporal del catalogo de areas que recibira lo que venga de catalogoAreas -->
                    <td th:text="${vdtllEntrAlmcn.nidenta}">Muestra el Id de la entrada</td>
                    <td th:text="${vdtllEntrAlmcn.nanioea}">Muestra el año de la entrada</td>
                    <td th:text="${vdtllEntrAlmcn.niddent}">Muestra el Id del detalle de la entrada</td>
                    <td th:text="${vdtllEntrAlmcn.ctipart}">Muestra el tipo de art&iacute;culo</td>
                    <td th:text="${vdtllEntrAlmcn.ccvartl}">Muestra la clave del art&iacute;culo</td>
                    <td th:text="${vdtllEntrAlmcn.ncvunmd}">Muestra la clave de la unidad de medida</td>
                    <td th:text="${vdtllEntrAlmcn.ncantid}">Muestra el detalle de la cantidad del art&iacute;culo</td>
                    <td th:text="${vdtllEntrAlmcn.ncostou}">Muestra el costo unitario del art&iacute;culo</td>
                    <td th:text="${vdtllEntrAlmcn.cstatus}">Muestra el estatus del detalle del art&iacute;culo</td>
                    <td sec:authorize="hasAnyRole('ROLE_Master','ROLE_APrincipal','ROLE_ASecundario')"><a th:href="@{/AgregarDtllsEntrd/} + ${vdtllEntrAlmcn.niddent}" th:text="Editar"/></td>
                    <td sec:authorize="hasAnyRole('ROLE_Master','ROLE_APrincipal','ROLE_ASecundario')"><a th:href="@{/EliminarDtllsEntrd(niddent=${vdtllEntrAlmcn.niddent})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
        </div>
        <div th:if="${dtllEntrAlmcn == null}"> <!-- or artsAlmacen.empty}"-->
            La lista de detalles de las entradas de articulos se encuentra vacia o a ocurrido un error en la conexi&oacute;n
        </div>
        <footer th:replace="layout/PlantillaHP :: footer">
            
        </footer>
        <!--<!-- <footer th:replace="layout/plantilla :: footer"/>-->
    </body>
</html>
