<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
    <title>Catalogo de las Unidades de Medida</title>
</head>
<body>
<header th:replace="layout/PlantillaHP :: header">

</header>
<h1 class="cabeceraP">Unidades de Medida</h1>
<div class="boton divbtn">
    <a sec:authorize="hasAnyAuthority('ROLE_Master','ROLE_APrincipal','ROLE_ASecundario')" th:href="@{/AgregarMedida}">Dar de
        alta medida</a>
</div>
<div th:if="${unidadesMedida != null}"> <!-- and !artsAlmacen.empty}" -->
    <table border="1">
        <tr>
            <th>Clave de la medida</th>
            <th>Descripci&oacute;n de la medida</th>
            <th>Estatus de vigencia</th>
            <th sec:authorize="hasAnyAuthority('ROLE_Master','ROLE_APrincipal','ROLE_ASecundario')">Modificar datos</th>
            <th sec:authorize="hasAnyAuthority('ROLE_Master','ROLE_APrincipal','ROLE_ASecundario')">Eliminar
                definitivamente
            </th>
        </tr>
        <tr th:each="vunidadesMedida : ${unidadesMedida}">
            <!-- Variable temporal del catalogo de areas que recibira lo que venga de catalogoAreas -->
            <td th:text="${vunidadesMedida.ncvunmd}">Muestra la clave de la medida</td>
            <td th:text="${vunidadesMedida.cdescrip}">Muestra la descripci&oacute;n de la medida</td>
            <td th:text="${vunidadesMedida.cvigent}">Muestra el estatus de la medida</td>
            <td sec:authorize="hasAnyAuthority('ROLE_Master','ROLE_APrincipal','ROLE_ASecundario')"><a
                    th:href="@{/AgregarMedida/} + ${vunidadesMedida.ncvunmd}" th:text="Editar"/></td>
            <td sec:authorize="hasAnyAuthority('ROLE_Master','ROLE_APrincipal','ROLE_ASecundario')"><a
                    th:href="@{/EliminarMedida(ncvunmd=${vunidadesMedida.ncvunmd})}" th:text="Eliminar"/></td>
        </tr>
    </table>
</div>
<div th:if="${unidadesMedida == null}"> <!-- or artsAlmacen.empty}"-->
    La lista de unidades de medida se encuentra vacia o a ocurrido un error en la conexi&oacute;n
</div>
<footer th:replace="layout/PlantillaHP :: footer">

</footer>
<!-- <footer th:replace="layout/plantilla :: footer"/>  -->

</body>
</html>
